.search {
  background-color: #febd69;
  height: 38px;
  width: 32px;
  margin-left: -10px;
}
.navbar {
  background-color: black;
}
.navbar-toggler {
  background-color: white;
}
.nav-link {
  color: white !important;
}
.amazon-image {
  height: 35px;
  width: 90px;
}
input {
  margin-left: 90px;
  width: 600px !important;
}
.loader {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.spinner-border {
  height: 80px;
  width: 80px;
}
